.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgb(25 26 26);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Estilos del input */
.input {
  flex: 1; /* El input se expandirá para ocupar el espacio disponible */
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(25 26 26 / 64%);
  border-radius: 5px;
  outline: none;
  background-color: rgb(2 51 51);
  transition: border-color 0.3s ease; /* Transición suave cuando se enfoque */
}

.input:focus {
  border-color: #4a90e2;
}

/* Estilos del botón */
.button {
  padding: 10px 20px;
  background-color: rgb(2 51 51);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #357abd; /* Color más oscuro cuando se pasa el ratón */
}

.button:active {
  background-color: #2c5b8a;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos se estiren al 100% del ancho */
  }

  .form input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form button {
    width: 100%;
  }
}
