.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tareaTexto {
  flex-grow: 1;
  margin-right: 10px;
}

.botonesJuntos {
  display: flex;
  gap: 10px;
}

.botonCompletar {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.activo {
  background-color: green;
}

.incompleto {
  background-color: red;
}

.botonEliminar {
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.botonEditar {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}
