.containerToDoList {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  border-radius: 8px;
  background-color: rgb(2 51 51);
  margin-top: 2rem;
}

/* Estilos para el contenedor de la lista */
.list {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(25 26 26 / 64%);
  color: rgb(2, 2, 71);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow-y: auto;
  align-items: center;
  gap: 10px;
}

/* Estilos para cada item individual */
.item {
  display: flex;
  justify-content: space-between; /* Espacio entre el texto y el botón */
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out; /* Animación suave en hover */
}

/* Efecto hover para mejorar la interacción */
.item:hover {
  background-color: #ececec;
}

.text {
  font-size: 16px;
  color: #333333;
  flex: 1; /* Para que el texto ocupe todo el espacio disponible */
  cursor: pointer;
  text-align: left;
  word-break: break-word; /* Permite que el texto se ajuste si es largo */
}

/* Estilo para tareas completadas */
.completed {
  text-decoration: line-through;
  color: #999999;
}

/* Estilo para el botón de eliminar */
.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transición suave */
}

/* Efecto hover para el botón de eliminar */
.deleteButton:hover {
  background-color: #ff6666;
}

@media (max-width: 768px) {
  .containerToDoList {
    width: 100%;
    max-width: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: stretch;
  }
}
